<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestCRUD</title>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="./css/index.css">-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!--<script src="./js/vue.js"></script>-->
    <!-- 引入ElementUI组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--<script src="./js/index.js"></script>-->
    <!--引入axios.js组件-->
    <script src="./js/axios-0.18.0.js"></script>

    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
    <div id="app">

        <el-form :inline="true" :model="formData" class="demo-form-inline">
            <el-form-item label="姓名">
                <el-input v-model="formData.name" placeholder="如：张三"></el-input>
            </el-form-item>

            <el-form-item label="生日">
                <el-date-picker type="date" v-model="formData.birthday" placeholder="选择日期"></el-date-picker>
            </el-form-item>
            <el-form-item label="工资">
                <el-input v-model="formData.salary" placeholder="如：6666.66"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="save">添加</el-button>
            </el-form-item>
        </el-form>

        <el-table :data="employeeList" border style="width: 70%"
                  :row-class-name="tableRowClassName">
            <el-table-column prop="id" label="id" width="100"></el-table-column>
            <el-table-column prop="name" label="姓名" width="200"></el-table-column>
            <el-table-column prop="birthday" label="生日" width="250"></el-table-column>
            <el-table-column prop="salary" label="工资" width="200"></el-table-column>
            <el-table-column label="操作" width="210">
                <template slot-scope="scope">
                    <!--<el-button type="text" @click="dialog = true">打开嵌套 Form</el-button>-->
                    <el-button size="mini" @click="handleEdit(scope.row.id)">编辑</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!--嵌套的表单-->
        <el-drawer title="修改员工信息" :before-close="handleClose" :visible.sync="dialog" direction="ltr"
                   custom-class="demo-drawer"
                ref="drawer">
            <div class="demo-drawer__content">
                <el-form :model="employee">
                    <el-form-item label="id" :label-width="formLabelWidth">
                        <el-input v-model="employee.id" :disabled="true" autocomplete="off" style="width: 250px"></el-input>
                    </el-form-item>
                    <el-form-item label="姓名" :label-width="formLabelWidth">
                        <el-input v-model="employee.name" autocomplete="off" style="width: 250px"></el-input>
                    </el-form-item>
                    <el-form-item label="生日" :label-width="formLabelWidth">
                        <el-date-picker type="date" v-model="employee.birthday" style="width: 250px"></el-date-picker>
                    </el-form-item>
                    <el-form-item label="工资" :label-width="formLabelWidth">
                        <el-input v-model="employee.salary" autocomplete="off" style="width: 250px"></el-input>
                    </el-form-item>
                </el-form>
                <div align="center">
                    <el-button @click="dialog = false">取 消</el-button>
                    <el-button type="primary" @click="$refs.drawer.closeDrawer()" :loading="loading">{{ loading ? '提交中 ...' : '提 交' }}</el-button>
                </div>
            </div>
        </el-drawer>

    </div>

    <script>
        new Vue({
            el:"#app",
            data:{
                formData:{},
                employee: {
                    id:'',
                    name:'',
                    birthday:'',
                    salary:''
                },
                employeeList:[],
                dialog:false,
                loading:false,
                formLabelWidth:'80px'
            },
            methods:{
                findAll(){
                    var url = "/emp/findAll.do";
                    var _this = this;
                    axios.get(url)
                        .then(function(response){
                            _this.employeeList = response.data;
                        })
                        .catch(function(err){
                            console.log(err);
                        });
                },
                save(){
                    var url = "/emp/save.do";
                    var _this = this;
                    axios.post(url,_this.formData)
                        .then(function(response){
                            alert(JSON.stringify(response.data.message));
                            _this.findAll();
                        })
                        .catch(function(err){
                            console.log(err);
                        });
                },
                tableRowClassName({row, rowIndex}) {
                    if (rowIndex%2 != 0) {
                        return '';
                    } else if (rowIndex%4 === 0) {
                        return 'success-row';
                    }
                    return 'warning-row';
                },
                handleEdit(id) {
                    this.dialog = true;
                    var url = "/emp/findById.do";
                    var _this = this;
                    axios.get(url,{params:{id:id}})
                        .then(function(response){
                            _this.employee = response.data;
                            _this.findAll();
                        })
                        .catch(function(err){
                            console.log(err);
                        });
                },
                handleClose(done) {
                    this.$confirm("确定要提交表单吗？").then(_ =>{
                        this.loading = true;
                        setTimeout(() => {
                            this.loading = false;
                            done();
                        }, 2000);
                        var url = "/emp/update.do";
                        var _this = this;
                        axios.post(url,_this.employee)
                            .then(function(response){
                                _this.findAll();
                            })
                            .catch(function(err){
                                console.log(err);
                            });
                    })

                    /*this.$confirm('确定要提交表单吗？')
                        .then(_ => {
                            this.loading = true;
                            setTimeout(() => {
                                this.loading = false;
                                done();
                            }, 2000);
                        })
                        .catch(_ => {});*/
                },
                handleDelete(id) {
                    if(confirm("确定删除吗？")){
                        var url = "/emp/deleteById.do";
                        var _this = this;
                        axios.get(url,{params:{id:id}})
                            .then(function(response){
                                _this.findAll();
                            })
                            .catch(function(err){
                                console.log(err);
                            });
                    }
                }
            },
            created:function () {
                this.findAll()
            }
        })
    </script>

</body>
</html>